*{
    font-family: 'Red Hat Text', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: hsl(20, 50%, 98%);
}
main{
    margin:5%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    @media (max-width: 375px) {
        margin:5% 0 0 10%;
        display: inline-block;
        place-items: center center;
    }
}

h1,h2,h3{
    display: block;
    font-weight: 700;
    padding: 0 0 30px 0;
}
h3{
    display: flex;
    justify-self: flex-start;
    padding: 5px 0;
    
}
h2{
    color:hsl(14, 86%, 42%);
    @media (max-width: 375px){
        width: fit-content;
        height: fit-content;
        padding: 5%;
    }
}
h1{
    @media (max-width: 375px){
        font-size: 40px;
    }
}
.content{
    width: 65%;
    @media (max-width: 375px){
       width: 100%; 
    }
}
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    gap:20px;
    place-items: center center;
    @media (max-width: 375px) {
        display: inline;
    }
}
ul,li{
    list-style:none;
}
.card{
    place-items: center center;
    @media (max-width: 375px) {
        padding-bottom: 20px;
    }
}
.container_img{
    display:flex; 
    flex-direction: column;
    place-items: center center;
}
.add_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-10%;
    margin-bottom: 5%;
    border-width:1px;
    width:70%;
    height:fit-content;
    padding: 4% 1%;
    border-radius: 25px;
    background: #ffffff;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 375px){
    width:90%;
    padding: 6% 2%;
    }
}
.add_to_cart{
    margin-right: 5%;
    width:15%;
    height:15%;
    @media (max-width: 375px){
    width:13%;
    height:13%;
    }
}
.img_item{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    @media (max-width: 375px) {
        height: 185px;
        width: 150%;
        object-fit: cover;
        object-position: center;
    }
}
.type{
    font-size: 13px;
    font-weight: 100;
}
.price::before{
    content: "$";
}
.price{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.order_cart{
    padding: 2%;
    background: #fff;
    width: 30%;
    height: fit-content;
    border-radius: 6px;
    @media (max-width: 375px){
        width: 100%;
    }
}
.order_cart p{
    text-align: center;
    place-self: center center;
    padding: 20px;
    font-weight: 600;
    color: hsl(12, 20%, 44%);
    @media (max-width: 375px){
        font-size: 16px;}
}
.order_cart img{
    display: block;
    margin: 0 auto;

}
/*___________selected_________*/
.add_item:active{
    border-color: hsla(0, 0%, 100%, 0);
    background: hsl(14, 86%, 42%);
}
.img_item_active{
    display:none;
    border: 1px solid hsl(14, 86%, 42%);
    }
/*___________mobile_________*/